/* line 4, ../sass/style.scss */
.transparent-background, .light-80, .light-60, .light-40, .light-20, .light-10 {
  background-color: transparent;
  zoom: 1;
}

/* line 15, ../sass/_variables.scss */
.light-80 {
  background-color: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
}

/* line 15, ../sass/_variables.scss */
.light-60 {
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
}

/* line 15, ../sass/_variables.scss */
.light-40 {
  background-color: rgba(255, 255, 255, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);
}

/* line 15, ../sass/_variables.scss */
.light-20 {
  background-color: rgba(255, 255, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF);
}

/* line 15, ../sass/_variables.scss */
.light-10 {
  background-color: rgba(255, 255, 255, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1AFFFFFF,endColorstr=#1AFFFFFF);
}

/*
Theme Name: Presstige
Theme URI: 
Author: O2Sources
Author URI: http://www.o2sources.com
Description: A blank theme for starting a WordPress project based on <a href="http://www.inpixelitrust.fr/blog/en/inpixelitrust-responsive-blank-theme-wordpress/">Inpixelitrust responsive blank theme</a>.
Version: 2.0
License: GPL
License URI: http://codex.wordpress.org/License
*/
/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*

A. Template structure
    1-  General
    2-  Header
    3-  Menu
    4-  Content
    5-  Page/Blog
    6-  Footer

B. Media queries

C. Print style

*/
/* ----- A. Template structure ----- */
/* ----------------------------- */
/* == General */
/* ----------------------------- */
/* line 47, ../sass/style.scss */
.red {
  color: #ff000d;
}

/* line 48, ../sass/style.scss */
#container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 14px;
}

/* ----------------------------- */
/* == Header */
/* ----------------------------- */
/* line 58, ../sass/style.scss */
.site-title {
  font-weight: bold;
  margin: .67em 0;
}

/* line 62, ../sass/style.scss */
.site-description {
  font-weight: normal;
  margin: 0 0 1em;
}

/* ----------------------------- */
/* == Menu */
/* ----------------------------- */
/* line 72, ../sass/style.scss */
#site-header .menu {
  background: #eee;
  display: block;
  float: left;
  margin: 0 auto 1em;
  width: 100%;
}

/* line 79, ../sass/style.scss */
#site-header .menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 84, ../sass/style.scss */
#site-header .menu li {
  float: left;
  position: relative;
}

/* line 88, ../sass/style.scss */
#site-header .menu a {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
}

/* line 95, ../sass/style.scss */
#site-header .menu a:hover,
#site-header .menu ul > .current-menu-item a {
  background: #333333;
  color: #fff;
  text-decoration: none;
}

/* line 100, ../sass/style.scss */
#site-header li:hover a {
  background: #333333;
  color: #fff;
}

/* line 104, ../sass/style.scss */
#site-header li:hover ul li a:hover {
  background: black;
}

/* ----------------------------- */
/* == Content */
/* ----------------------------- */
/* nav */
/* line 113, ../sass/style.scss */
.content nav {
  display: block;
  overflow: hidden;
}

/* line 117, ../sass/style.scss */
.content nav .nav-previous {
  float: left;
  width: 50%;
}

/* line 121, ../sass/style.scss */
.content nav .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* line 126, ../sass/style.scss */
.content #nav-above {
  display: none;
}

/* line 130, ../sass/style.scss */
.paged .content #nav-above,
.single .content #nav-above {
  display: block;
}

/* line 133, ../sass/style.scss */
#nav-below {
  margin: 1em 0 0;
}

/* line 136, ../sass/style.scss */
.page-link {
  margin: 0 0 1em;
}

/* table styling */
/* line 143, ../sass/style.scss */
.content table,
.content td,
.content th {
  border: 1px solid #bfbfbe;
}

/* line 146, ../sass/style.scss */
.content tbody tr:nth-child(odd) {
  background: #eeeeee;
}

/* ----------------------------- */
/* == Footer */
/* ----------------------------- */
/* ----------------------------- */
/* == Media queries */
/* ----------------------------- */
/* Media queries for responsive design
 These follow after primary styles so they will successfully override. 
 */
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
/* quick tablet reset */
@media (max-width: 768px) {
  /* line 177, ../sass/style.scss */
  .tablet-hidden {
    display: none;
  }

  /* line 182, ../sass/style.scss */
  [class*="mw"],
  [class*="w9"],
  [class*="w8"],
  [class*="w7"],
  [class*="w6"] {
    width: auto;
  }

  /* line 186, ../sass/style.scss */
  .t100 {
    border: 0 none;
    display: block !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
    max-width: 100% !important;
  }
}
/* quick smartphone reset */
@media (max-width: 640px) {
  /* line 200, ../sass/style.scss */
  .phone-hidden {
    display: none;
  }

  /* line 201, ../sass/style.scss */
  .mod, .col {
    display: block !important;
    margin: 0 !important;
    border: 0 !important;
    float: none !important;
    width: auto !important;
  }

  /* line 210, ../sass/style.scss */
  [class*="mw"], [class*="w9"], [class*="w8"],
  [class*="w7"], [class*="w6"], [class*="w5"],
  [class*="w4"], [class*="w3"] {
    width: auto;
  }
}
/* ----------------------------- */
/* == Print style */
/* ----------------------------- */
@media print {
  /* line 225, ../sass/style.scss */
  p, blockquote {
    orphans: 2;
    widows: 2;
  }

  /* line 226, ../sass/style.scss */
  ul, ol {
    page-break-inside: avoid;
  }

  /* line 227, ../sass/style.scss */
  h1, h2, h3, caption {
    page-break-after: avoid;
  }

  /* line 228, ../sass/style.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 236, ../sass/style.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 240, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 244, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 254, ../sass/style.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 259, ../sass/style.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 264, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 269, ../sass/style.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 273, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 283, ../sass/style.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 289, ../sass/style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
