/* line 4, ../sass/style.scss */
.transparent-background, .light-90, .light-80, .light-70, .light-60, .light-50, .light-40, .light-30, .light-20, .light-10 {
  background-color: transparent;
  zoom: 1;
}

/* line 16, ../sass/_variables.scss */
.light-90 {
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FFFFFF,endColorstr=#E6FFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-80 {
  background-color: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-70 {
  background-color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF,endColorstr=#B3FFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-60 {
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-50 {
  background-color: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-40 {
  background-color: rgba(255, 255, 255, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-30 {
  background-color: rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DFFFFFF,endColorstr=#4DFFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-20 {
  background-color: rgba(255, 255, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF);
}

/* line 16, ../sass/_variables.scss */
.light-10 {
  background-color: rgba(255, 255, 255, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1AFFFFFF,endColorstr=#1AFFFFFF);
}

/*
Theme Name: Presstige
Theme URI: 
Author: O2Sources
Author URI: http://www.o2sources.com
Description: A blank theme for starting a WordPress project based on <a href="http://www.inpixelitrust.fr/blog/en/inpixelitrust-responsive-blank-theme-wordpress/">Inpixelitrust responsive blank theme</a>.
Version: 2.0
License: GPL
License URI: http://codex.wordpress.org/License
*/
/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
/* A. General structure 
1- Reset 
2- Baseline for elements
3- Base Typography
4- Layout and modules
5- Hidding / unhidding content
6- Forms
7- Images
8- WordPress alignement

/* B. WordPress template structure
1-  General
2-  Header
3-  Menu
4-  Content
5-  Footer

/* C. Media queries

/* D. Print style
*/
/* ----------------------------- */
/* == Reset*/
/* ----------------------------- */
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/*  Uncomment for a hard reset  */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;    
    border: 0;  
    margin: 0;  
    padding: 0; 
    vertical-align: baseline;
}
*/
/* A softer reset */
/* line 82, ../sass/style.scss */
html,
body,
blockquote,
ul,
ol,
form,
p,
div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 90, ../sass/style.scss */
ul,
ol {
  padding-left: 2em;
}

/* line 93, ../sass/style.scss */
blockquote {
  quotes: none;
  border-left: 4px solid #666;
  padding: 5px 5px 5px 20px;
  margin: 8px 0 8px 30px;
  font-style: italic;
  background: #eae9e9;
  position: relative;
}

/* line 103, ../sass/style.scss */
blockquote:before,
blockquote:after {
  content: ' ';
  content: none;
}

/* line 107, ../sass/style.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 111, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 115, ../sass/style.scss */
a img {
  border: none;
}

/* line 121, ../sass/style.scss */
select,
input,
textarea,
button {
  font: 99% sans-serif;
  color: #444;
}

/* line 128, ../sass/style.scss */
pre,
code,
kbd,
samp {
  font-family: monospace,sans-serif;
}

/* HTML 5 elements */
/* line 139, ../sass/style.scss */
header,
nav,
section,
article,
dialog,
figure,
aside,
footer {
  display: block;
  margin: 0;
  padding: 0;
}

/* ----------------------------- */
/* == Baseline for elements */
/* ----------------------------- */
/* base font-size corresponds to 10px */
/* line 150, ../sass/style.scss */
html {
  overflow-y: scroll;
  font-size: 62.5%;
}

/* line 154, ../sass/style.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 158, ../sass/style.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 163, ../sass/style.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 171, ../sass/style.scss */
html,
button,
input,
select,
textarea {
  color: black;
}

/* line 175, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 183, ../sass/style.scss */
img {
  vertical-align: middle;
}

/* line 186, ../sass/style.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ----------------------------- */
/* == Base Typography */
/* ----------------------------- */
/* line 196, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 203, ../sass/style.scss */
b,
strong {
  font-weight: bold;
}

/* font-sizing for content */
/* line 212, ../sass/style.scss */
p,
li,
td,
th,
textarea {
  font-size: 1.4em;
}

/* line 227, ../sass/style.scss */
li li,
li p,
td p,
th p,
li h1,
li h2,
li h3,
li h4,
li h5,
li h6,
button,
input,
select {
  font-size: 100%;
}

/* line 231, ../sass/style.scss */
h1,
.h1-like {
  font-size: 2.4em;
}

/* 24 pixels */
/* line 236, ../sass/style.scss */
h2,
.h2-like {
  font-size: 2em;
}

/* 20 pixels */
/* line 241, ../sass/style.scss */
h3,
.h3-like {
  font-size: 1.8em;
}

/* 18 pixels */
/* line 246, ../sass/style.scss */
h4,
.h4-like {
  font-size: 1.6em;
}

/* 16 pixels */
/* line 251, ../sass/style.scss */
h5,
.h5-like {
  font-size: 1.4em;
}

/* 14 pixels */
/* alternate font-sizing */
/* line 256, ../sass/style.scss */
.smallest {
  font-size: .7em;
}

/* line 259, ../sass/style.scss */
.smaller {
  font-size: .8em;
}

/* line 262, ../sass/style.scss */
.small {
  font-size: .9em;
}

/* line 265, ../sass/style.scss */
.big {
  font-size: 1.07em;
}

/* 15 pixels */
/* line 269, ../sass/style.scss */
.bigger {
  font-size: 1.14em;
}

/* 16 pixels */
/* line 273, ../sass/style.scss */
.biggest {
  font-size: 1.28em;
}

/* 18 pixels */
/* avoid collapsing margins */
/* line 283, ../sass/style.scss */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
  margin-top: 0;
}

/* avoid last paragraph bottom margin */
/* line 287, ../sass/style.scss */
p:last-child {
  margin-bottom: 0;
}

/* styling headings */
/* max values */
/* line 321, ../sass/style.scss */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
object,
embed,
video {
  height: auto;
  max-width: 100%;
}

/* line 325, ../sass/style.scss */
iframe {
  max-width: 100%;
}

/* you shall not pass */
/* line 338, ../sass/style.scss */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
}

/* line 343, ../sass/style.scss */
code,
pre,
samp {
  white-space: pre-wrap;
}

/* line 349, ../sass/style.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 354, ../sass/style.scss */
small {
  font-size: 85%;
}

/* line 358, ../sass/style.scss */
strong,
th {
  font-weight: bold;
}

/* line 362, ../sass/style.scss */
td,
td img {
  vertical-align: top;
}

/* line 365, ../sass/style.scss */
sub {
  font-size: smaller;
  vertical-align: sub;
}

/* line 369, ../sass/style.scss */
sup {
  font-size: smaller;
  vertical-align: super;
}

/* line 374, ../sass/style.scss */
sub,
sup {
  line-height: 0;
  position: relative;
}

/* line 378, ../sass/style.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 385, ../sass/style.scss */
q {
  quotes: none;
}

/* line 389, ../sass/style.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* Links */
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 399, ../sass/style.scss */
a,
a:active,
a:visited {
  color: #607890;
}

/* line 402, ../sass/style.scss */
a:hover {
  color: #036;
}

/* line 405, ../sass/style.scss */
a:link {
  -webkit-tap-highlight-color: #0088cc;
}

/* line 408, ../sass/style.scss */
a img {
  border: 0;
}

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 414, ../sass/style.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 422, ../sass/style.scss */
a:active,
a:hover {
  outline: 0;
}

/* ----------------------------- */
/* == Layout and modules */
/* ----------------------------- */
/* switching box model for all elements */
/* line 431, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* float layout */
/* ----------- */
/* block that can contains several .mod , can contains floats */
/* module, contains floats */
/* line 445, ../sass/style.scss */
.mod {
  padding: 1em;
}

/* generaly inside .mod, can contains .item */
/* fluid, contains floats, can be placed next to a float */
/* line 454, ../sass/style.scss */
.item {
  overflow: hidden;
}

/* table layout */
/* ------------------ */
/* line 460, ../sass/style.scss */
.row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* line 466, ../sass/style.scss */
.row > *,
.col {
  display: table-cell;
  padding: 1em;
}

/* 1em gutter between elements if parent is .gut */
/* line 472, ../sass/style.scss */
.line.gut > * + * {
  margin-left: 1em;
}

/* line 475, ../sass/style.scss */
.row.gut > * + * {
  border-left: 1em solid #fff;
}

/* blocks that needs to be placed under floats */
/* line 482, ../sass/style.scss */
.clear,
.line,
.row {
  clear: both;
}

/* blocks that can contains floats */
/* line 490, ../sass/style.scss */
.clearfix:after,
.line:after,
.mod:after,
.gallery:after {
  content: "";
  display: table;
  clear: both;
}

/* alignments (blocks and inline) */
/* left and 1em gutter */
/* line 498, ../sass/style.scss */
.left {
  float: left;
  margin-right: 1em;
}

/* right and 1em gutter */
/* line 503, ../sass/style.scss */
.right {
  float: right;
  margin-left: 1em;
}

/* juste inline-block */
/* line 508, ../sass/style.scss */
.inbl {
  display: inline-block;
}

/* blocks widths (percentage) */
/* line 511, ../sass/style.scss */
.w10 {
  width: 10%;
}

/* line 512, ../sass/style.scss */
.w20 {
  width: 20%;
}

/* line 513, ../sass/style.scss */
.w25 {
  width: 25%;
}

/* line 514, ../sass/style.scss */
.w30 {
  width: 30%;
}

/* line 515, ../sass/style.scss */
.w33 {
  width: 33.33%;
}

/* line 516, ../sass/style.scss */
.w40 {
  width: 40%;
}

/* line 517, ../sass/style.scss */
.w50 {
  width: 50%;
}

/* line 518, ../sass/style.scss */
.w60 {
  width: 60%;
}

/* line 519, ../sass/style.scss */
.w70 {
  width: 70%;
}

/* line 520, ../sass/style.scss */
.w80 {
  width: 80%;
}

/* line 521, ../sass/style.scss */
.w90 {
  width: 90%;
}

/* line 522, ../sass/style.scss */
.w100 {
  width: 100%;
}

/* ----------------------------- */
/* == Hidding / unhidding content */
/* ----------------------------- */
/* for image replacement */
/* line 531, ../sass/style.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 538, ../sass/style.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Hide for both screenreaders and browsers 
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 548, ../sass/style.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 551, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
/* line 556, ../sass/style.scss */
.assistive-text,
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 562, ../sass/style.scss */
a.assistive-text:active,
a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #1982d1;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}

/* hiding content */
/* line 575, ../sass/style.scss */
.desktop-hidden {
  display: none;
}

/* hidden on desktop */
/* hidden on mobile */
/* hidden on tablets */
/* hidden on smartphones */
/* ----------------------------- */
/* ==  Forms */
/* ----------------------------- */
/* line 590, ../sass/style.scss */
legend {
  border: 0;
  white-space: normal;
}

/* line 591, ../sass/style.scss */
form, fieldset {
  border: none;
}

/* line 592, ../sass/style.scss */
label {
  cursor: pointer;
}

/* hand cursor on clickable input elements */
/* webkit browsers add a 2px margin outside the chrome of form elements */
/* line 599, ../sass/style.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* colors for form validity 
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
*/
/* line 611, ../sass/style.scss */
button, input, select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 616, ../sass/style.scss */
textarea {
  overflow: auto;
  min-height: 5em;
  vertical-align: top;
  resize: vertical;
  font-size: 1em;
}

/* line 623, ../sass/style.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 627, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 630, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 636, ../sass/style.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 639, ../sass/style.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 642, ../sass/style.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 645, ../sass/style.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* 'x' appears on right of search input when text is entered. This removes it */
/* line 652, ../sass/style.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}

/* Removes inner padding and border in FF3+ */
/* line 661, ../sass/style.scss */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* style the placeholder */
/* line 667, ../sass/style.scss */
::-webkit-input-placeholder {
  color: #777;
}

/* line 668, ../sass/style.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #777;
}

/* line 671, ../sass/style.scss */
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}

/* thnx ivannikolic! */
/* haslayout for IE6/IE7 */
/* line 676, ../sass/style.scss */
.ie7 .clearfix, .ie7 .line, .ie7 .mod, .ie7 .row, .ie7 .col {
  zoom: 1;
}

/* line 680, ../sass/style.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* Forms - Class for labelling required form items */
/* line 683, ../sass/style.scss */
.required {
  color: #cc0033;
}

/* ----------------------------- */
/* == Images */
/* ----------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
/* line 702, ../sass/style.scss */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img {
  max-width: 100%;
  height: auto;
}

/* line 706, ../sass/style.scss */
img.alignleft {
  margin-right: 1em;
}

/* line 709, ../sass/style.scss */
img.alignright {
  margin-left: 1em;
}

/* line 712, ../sass/style.scss */
.wp-caption {
  padding: .5em;
  text-align: center;
}

/* line 716, ../sass/style.scss */
.wp-caption img {
  margin: .25em;
}

/* line 719, ../sass/style.scss */
.wp-caption .wp-caption-text {
  margin: .5em;
}

/* line 725, ../sass/style.scss */
.gallery-item {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 33%;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 736, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 742, ../sass/style.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 744, ../sass/style.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ----------------------------- */
/* == WordPress alignement */
/* ----------------------------- */
/* Alignment */
/* line 754, ../sass/style.scss */
.alignleft {
  display: inline;
  float: left;
}

/* line 758, ../sass/style.scss */
.alignright {
  display: inline;
  float: right;
}

/* line 762, ../sass/style.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Template structure here */
/* ----------------------------- */
/* == General */
/* ----------------------------- */
/* line 776, ../sass/style.scss */
.red {
  color: #ff000d;
}

/* line 777, ../sass/style.scss */
#container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 14px;
}

/* ----------------------------- */
/* == Header */
/* ----------------------------- */
/* line 787, ../sass/style.scss */
.site-title {
  font-weight: bold;
  margin: .67em 0;
}

/* line 791, ../sass/style.scss */
.site-description {
  font-weight: normal;
  margin: 0 0 1em;
}

/* ----------------------------- */
/* == Menu */
/* ----------------------------- */
/* line 801, ../sass/style.scss */
#site-header .menu {
  background: #eee;
  display: block;
  float: left;
  margin: 0 auto 1em;
  width: 100%;
}

/* line 808, ../sass/style.scss */
#site-header .menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 813, ../sass/style.scss */
#site-header .menu li {
  float: left;
  position: relative;
}

/* line 817, ../sass/style.scss */
#site-header .menu a {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
}

/* line 824, ../sass/style.scss */
#site-header .menu a:hover,
#site-header .menu ul > .current-menu-item a {
  background: #333333;
  color: #fff;
  text-decoration: none;
}

/* line 829, ../sass/style.scss */
#site-header li:hover a {
  background: #333333;
  color: #fff;
}

/* line 833, ../sass/style.scss */
#site-header li:hover ul li a:hover {
  background: black;
}

/* ----------------------------- */
/* == Content */
/* ----------------------------- */
/* nav */
/* line 842, ../sass/style.scss */
.content nav {
  display: block;
  overflow: hidden;
}

/* line 846, ../sass/style.scss */
.content nav .nav-previous {
  float: left;
  width: 50%;
}

/* line 850, ../sass/style.scss */
.content nav .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* line 855, ../sass/style.scss */
.content #nav-above {
  display: none;
}

/* line 859, ../sass/style.scss */
.paged .content #nav-above,
.single .content #nav-above {
  display: block;
}

/* line 862, ../sass/style.scss */
#nav-below {
  margin: 1em 0 0;
}

/* line 865, ../sass/style.scss */
.page-link {
  margin: 0 0 1em;
}

/* table styling */
/* line 872, ../sass/style.scss */
.content table,
.content td,
.content th {
  border: 1px solid #bfbfbe;
}

/* line 875, ../sass/style.scss */
.content tbody tr:nth-child(odd) {
  background: #eeeeee;
}

/* ----------------------------- */
/* == Footer */
/* ----------------------------- */
/* ----------------------------- */
/* == Media queries */
/* ----------------------------- */
/* Media queries for responsive design
 These follow after primary styles so they will successfully override. 
 */
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
/* quick smartphone reset */
@media (max-width: 640px) {
  /* line 907, ../sass/style.scss */
  .phone-hidden {
    display: none;
  }

  /* line 908, ../sass/style.scss */
  .mod, .col {
    display: block !important;
    margin: 0 !important;
    border: 0 !important;
    float: none !important;
    width: auto !important;
  }

  /* line 917, ../sass/style.scss */
  [class*="mw"], [class*="w9"], [class*="w8"],
  [class*="w7"], [class*="w6"], [class*="w5"],
  [class*="w4"], [class*="w3"] {
    width: auto;
  }
}
/* ----------------------------- */
/* == Print style */
/* ----------------------------- */
@media print {
  /* line 932, ../sass/style.scss */
  p, blockquote {
    orphans: 2;
    widows: 2;
  }

  /* line 933, ../sass/style.scss */
  ul, ol {
    page-break-inside: avoid;
  }

  /* line 934, ../sass/style.scss */
  h1, h2, h3, caption {
    page-break-after: avoid;
  }

  /* line 935, ../sass/style.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 943, ../sass/style.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 947, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 951, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 961, ../sass/style.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 966, ../sass/style.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 971, ../sass/style.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 976, ../sass/style.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 980, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 990, ../sass/style.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 996, ../sass/style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
