/* ----------------------------- */
/* ==skip-hyphens                */
/* ----------------------------- */
/* styling skip links */
.skip-links {
	position: absolute;
	
	& a {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0.5em;
		background: black;
		color: white;
		text-decoration: none;

		&:focus {
			position: static;
			overflow: visible;
			clip: auto;
		}
	}
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		background-color: $base-color;
		@include border-radius(3px);
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #fff;
		display: block;
		@include rem(1.4);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}

// hyphens boolean
@media (max-width: $small-screen) {
	/* you shall not pass */
	div, 
	textarea, 
	table, 
	td, 
	th, 
	code, 
	pre, 
	samp {
		word-wrap: break-word;
		hyphens: auto;
	}
}

