/* ----------------------------- */
/* ==IE6, IE7, IE8 support       */
/* ----------------------------- */
.lteie8 img {
	width: auto; /* @bugfix for IE8 */
}

.lteie8 .gm-style img {
	height: 100%;
}

/* hasLayout for IE6/IE7 */
.clearfix,
.line,
.mod,
.row,
.col {
	*zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs width on IE6/IE7 */
.btn,
.col,
.inbl {
	*display: inline;
	*zoom: 1;
}
.visually-hidden { 
	*clip: rect(1px 1px 1px 1px); 
}

/* forms */
 /* Corrects excess space around these inputs in IE8/9 */
.lteie8 input[type="checkbox"],
.lteie8 input[type="radio"] {
	padding: 0;
}

/* Removes default vertical scrollbar on empty textarea in IE6/7/8/9 */
.lteie8 textarea {
	overflow: auto;
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
	behavior: url(/lib/box-sizing-polyfill/boxsizing.htc);
}
*/