@import "compass";
@import "variables";

/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
/* 
1- Reset  
2- Baseline for elements
3- Base Typography
4- Layout and modules
5- Hidding / unhidding content
6- Forms
7- iefix
8- Images
9- WordPress alignement
10- Print

/* ----------------------------- */
/* == 1. Reset: */
/* ----------------------------- */

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

/* A softer reset */
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 2em;
}
ul.unstyled {
    list-style: none;
}

/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
    word-wrap: break-word;
}
code, 
pre,
samp,
kbd {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
    line-height: 1em;
}
code, kbd, mark {
   @include border-radius(2px);
}
small {
    font-size: 85%;
}
em {
    font-style: italic;
}
strong,
th {
    font-weight: bold;
}
i,
b {
    font-style: normal;
    font-weight: normal;
}
kbd {
    padding: 0 2px;
    border: 1px solid #999;
}
code {
    padding: 2px 4px;
    background: rgba(0,0,0,.04);
    color: #b11; 
}
mark {
    padding:2px 4px;
    background: #ff0;
}
sup,
sub {
    vertical-align: 0;
    position: relative;
    font-size: smaller;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
table { margin-bottom: 1.5em; }
td,
td img {
    vertical-align: top;
}

/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}
iframe {
    max-width: 100%;
}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
/* pictures */
img {
    height: auto;
    vertical-align: middle;
}
/* Gmap3 max-width bug fix on images */
.gmnoscreen img,
.gmnoprint img {max-width: none !important;}

a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
    position: absolute;
}
.skip-links a {
    position: absolute;
    left: -7000px;
    padding: 0.5em;
    background: #000;
    color:#fff;
    text-decoration: none;
}
.skip-links a:focus {
    position: static;
}

/* HTML 5 elements */
header,
nav,
section,
article,
dialog,
figure,
aside,
footer {
    display: block;
    margin: 0;
    padding: 0;
}

/* ----------------------------- */
/* == 2. Baseline for elements */
/* ----------------------------- */

/* base font-size corresponds to 10px */
html {
    font-size: 62.5%;
}
body {
    font-family:$baseFontFamily;
    font-size: 1em;
    line-height: 1.2; /* adapt to your design */
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}
html,
button,
input,
select,
textarea {
    color: $mainColor;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ----------------------------- */
/* == 3. Base Typography */
/* ----------------------------- */
abbr[title] {
    border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/* font-sizing for content */
p,
td,
th,
textarea {
    font-size: 1.2em;
}

/* http://soqr.fr/vertical-rhythm/ */
p, ul, ol, dl, blockquote, pre, td, th, label, textarea {
    font-size: 1em; /* equiv 10px */
    line-height: 1.2em;
    margin: 1.2em 0;
}
h1, .h1-like{
    font-size:  2.2em; /* equiv 22px */
    line-height: 1.091em;
    margin:  1.091em 0 .5455em 0;
}
h2, .h2-like{
    font-size:  2em; /* equiv 20px */
    line-height: 1.2em;
    margin:  1.2em 0 .6em 0;
}
h3, .h3-like{
    font-size:  1.8em; /* equiv 18px */
    line-height: 1.3334em;
    margin:  1.3334em 0 .6667em 0;
}
h4, .h4-like{
    font-size:  1.6em; /* equiv 16px */
    line-height: 1.5em;
    margin:  1.5em 0 .75em 0;
}
h5, .h5-like{
    font-size:  1.4em; /* equiv 14px */
    line-height: 1.7142em;
    margin:  1.7142em 0 .8571em 0;
}
h6, .h6-like{
    font-size:  1.2em; /* equiv 12px */
    line-height:  1em;
    margin:  2em 0  1em 0;
}
.smaller{
    font-size: .6em; /* equiv 6px */
}
.small{
    font-size: .8em; /* equiv 8px */
}
.big{
    font-size:  1.2em; /* equiv 12px */
}
.bigger{
    font-size:  1.4em; /* equiv 14px */
}
.biggest{
    font-size:  1.6em; /* equiv 16px */
}
/* avoid last paragraph bottom margin */
p:last-child {
    margin-bottom: 0;
}

/* Links */
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a,
a:active,
a:visited {
    color: $grayDark;
}
a:hover {
    color: $secondColor;
}
a:link {
    -webkit-tap-highlight-color: $linkColor;
}
a img {
    border: 0;
}
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* ----------------------------- */
/* == 4. Layout and modules */
/* ----------------------------- */

/* switching box model for all elements */
* {
    @include box-sizing(border-box);
}

/* float layout */
/* module, gains superpower "BFC" Block Formating Context */
.mod { 
    overflow: hidden;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
    clear: both;
}

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
    content: "";
    display: table;
    clear: both;
}

/* table layout */
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row > *,
.col {
    display: table-cell;
    vertical-align: top;
}

/* inline-block */
.inbl {
    @include inline-block;
}

/* alignments (blocks and inline) */
/* ------------------------------ */

/* left elements */
.pull-left {
    float: left;
}
img.left {
    margin-right: 1em;
}

/* right elements */
.pull-right {
    float: right;
}
img.right {
    margin-left: 1em;
}

img.left, img.right {
    margin-bottom: 5px;
}

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

/* blocks widths (percentages and pixels) */
.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.3333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w66    { width: 66.6666%; }
.w70    { width: 70%; }
.w75    { width: 75%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }


/* ----------------------------- */
/* == 5. Hidding / unhidding content */
/* ----------------------------- */

/* for image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* Hide for both screenreaders and browsers 
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.assistive-text, 
.visuallyhidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
a.assistive-text:active,
a.assistive-text:focus {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #1982d1;
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    left: 7.6%;
}

/* hiding content */
.desktop-hidden {display: none;} /* hidden on desktop */


/* ----------------------------- */
/* == 6. forms                   */
/* ----------------------------- */
form,
fieldset {
    border: none;
}
input,
button,
select,
label,
.btn {
    vertical-align: middle; /* @bugfix alignment */
    font-family: inherit;
}
legend {border: 0; white-space: normal;}
label{ cursor: pointer; } /* hand cursor on clickable input elements */

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, 
input, 
select, 
textarea { 
margin: 0; 
}
button, input, select {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;   }
textarea { 
    overflow: auto; 
    min-height: 5em;
    vertical-align: top;
    resize: vertical;
    font-family: inherit;
} 
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
input[type="checkbox"], input[type="radio"] {
    padding: 0;
    *width: 13px; *height: 13px; }
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}
input[type="radio"] { 
vertical-align: text-bottom; 
}
input[type="checkbox"] { 
vertical-align: bottom; 
}
.ie7 input[type="checkbox"] { 
vertical-align: baseline; 
}
.ie6 input { 
vertical-align: text-bottom; 
}
/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
    -webkit-appearance: none;
}

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* style the placeholder */

::-webkit-input-placeholder {color: #777;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #777;}

/* ----------------------------- */
/* == 7. iefix                       */
/* ----------------------------- */

/* hasLayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
    zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs a width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
    display: inline;
    zoom: 1;
}
.ie8 img {
    width: auto; /* @bugfix for IE8 */
}
/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

.ie7 img {-ms-interpolation-mode: bicubic;}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
    behavior: url(/js/boxsizing.htc);
}
*/

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: $error; }
/* Forms - Class for labelling required form items */

.required {
    color: $required;
}

/* ----------------------------- */
/* == 8. Images */
/* ----------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img {
    max-width: 100%;
    height: auto; 
}
img.alignleft {
    margin-right: 1em;
}
img.alignright {
    margin-left: 1em;
}
.wp-caption {
    padding: .5em;
    text-align: center;
}
.wp-caption img {
    margin: .25em;
}
.wp-caption .wp-caption-text {
    margin: .5em;
}
.gallery-caption{
}

.gallery-item {
float: left;
margin-top: 10px;
text-align: center;
width: 33%;
}



/* ----------------------------- */
/* == 9. WordPress alignement */
/* ----------------------------- */

/* Alignment */

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------- */
/* == 10. print                       */
/* ----------------------------- */

/* quick print reset */
@media print {
    p,
    blockquote {
        orphans: 2;
        widows: 2;
    }
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }
    h1,
    h2,
    h3,
    caption {
        page-break-after: avoid;
    }
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
    html,
    body {
        -webkit-text-size-adjust: 100%;
    }
}
