@import "variables";

/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
/* 
1- Reset  
2- Baseline for elements
3- Base Typography
4- Layout and modules
5- Hidding / unhidding content
6- Forms
7- Images
8- WordPress alignement
9- Fonts

/* ----------------------------- */
/* == Reset*/
/* ----------------------------- */

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/*  Uncomment for a hard reset  */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;    
    border: 0;  
    margin: 0;  
    padding: 0; 
    vertical-align: baseline;
}
*/

/* A softer reset */
html,
body,
blockquote,
ul,
ol,
form,
p,
div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}
ul,
ol {
    padding-left: 2em;
}
blockquote {
    quotes: none;
    border-left: 4px solid #666;
    padding: 5px 5px 5px 20px;
    margin: 8px 0 8px 30px;
    font-style: italic;
    background: rgb(234, 233, 233);
    position: relative;
}
blockquote:before,
blockquote:after {
    content: ' ';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}
select,
input,
textarea,
button {
    font: 99% sans-serif;
    color: #444;
}
pre,
code,
kbd,
samp {
    font-family: monospace,sans-serif;
}
/* HTML 5 elements */
header,
nav,
section,
article,
dialog,
figure,
aside,
footer {
    display: block;
    margin: 0;
    padding: 0;
}

/* ----------------------------- */
/* == Baseline for elements */
/* ----------------------------- */

/* base font-size corresponds to 10px */
html {
    overflow-y: scroll;
    font-size: 62.5%;
}
body {    
    font-size: 1em;
    line-height: 1.4;
    font-family:$baseFontFamily;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    text-shadow: none;
}
html,
button,
input,
select,
textarea {
    color: $mainColor;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ----------------------------- */
/* == Base Typography */
/* ----------------------------- */
abbr[title] {
    border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/* font-sizing for content */
p,
td,
th,
textarea {
    font-size: 1.4em;
}
/* http://soqr.fr/vertical-rhythm/ */
h1, .h1-like{
    font-size:  1.8571em; /* equiv 26px */
    line-height: 1.5076em;
    margin:  1.5076em 0 .7538em 0;
}
h2, .h2-like{
    font-size:  1.7143em; /* equiv 24px */
    line-height: 1.6334em;
    margin:  1.6334em 0 .8167em 0;
}
h3, .h3-like{
    font-size:  1.5714em; /* equiv 22px */
    line-height: 1.7818em;
    margin:  1.7818em 0 .8909em 0;
}
h4, .h4-like{
    font-size:  1.4286em; /* equiv 20px */
    line-height: 1.96em;
    margin:  1.96em 0 .98em 0;
}
h5, .h5-like{
    font-size:  1.2857em; /* equiv 18px */
    line-height:  1.0889em;
    margin:  2.1778em 0  1.0889em 0;
}
h6, .h6-like{
    font-size:  1.1429em; /* equiv 16px */
    line-height:  1.225em;
    margin:  2.45em 0  1.225em 0;
}
.smaller{
    font-size: .7143em; /* equiv 10px */
    line-height:  1.96em;
    margin:  1.96em 0  1.96em 0;
}
.small{
    font-size: .8571em; /* equiv 12px */
    line-height:  1.6333em;
    margin:  1.6333em 0  1.6333em 0;
}
.big{
    font-size:  1.1429em; /* equiv 16px */
    line-height:  1.225em;
    margin:  1.225em 0  1.225em 0;
}
.bigger{
    font-size:  1.2857em; /* equiv 18px */
    line-height:  1.0889em;
    margin:  1.0889em 0  1.0889em 0;
}
.biggest{
    font-size:  1.4286em; /* equiv 20px */
    line-height: 1.96em;
    margin: .98em 0 .98em 0;
}
/* avoid collapsing margins */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
    margin-top: 0;
}
/* avoid last paragraph bottom margin */
p:last-child {
    margin-bottom: 0;
}
/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}
iframe {
    max-width: 100%;
}

/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
    word-wrap: break-word;
}
code,
pre,
samp {
    white-space: pre-wrap;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
small {
    font-size: 85%;
}
strong,
th {
    font-weight: bold;
}
td,
td img {
    vertical-align: top;
}
sub {
    font-size: smaller;
    vertical-align: sub;
}
sup {
    font-size: smaller;
    vertical-align: super;
}
sub,
sup {
    line-height: 0;
    position: relative;
}
pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}


/* Links */
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a,
a:active,
a:visited {
    color: $grayDark;
}
a:hover {
    color: $secondColor;
}
a:link {
    -webkit-tap-highlight-color: $linkColor;
}
a img {
    border: 0;
}
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* ----------------------------- */
/* == Layout and modules */
/* ----------------------------- */

/* switching box model for all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* float layout */
/* ----------- */
/* block that can contains several .mod , can contains floats */
.line {

}

/* module, contains floats */
.mod {
    padding: 1em;
}

/* generaly inside .mod, can contains .item */
.items {
}

/* fluid, contains floats, can be placed next to a float */
.item {
    overflow: hidden;
}

/* table layout */
/* ------------------ */
.row {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.row > *,
.col {
    display: table-cell;
    padding: 1em;
}

/* 1em gutter between elements if parent is .gut */
.line.gut > * + * {
    margin-left: 1em;
}
.row.gut > * + * {
    border-left: 1em solid transparent;
}
.line.gut > .left  { margin-right: 14px; }
.line.gut > .right { margin-left: 14px; }
/* "multicolumns" with % gutter */
.line.gut2 > *     { width: 48%; }
.line.gut2 > * + * { margin-left: 2%; }
.line.gut3 > *     { width: 30.333%; }
.line.gut3 > * + * { margin-left: 1em; }
.line.gut4 > *     { width: 24%; }
.line.gut4 > * + * { margin-left: 1.333%; }

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
    clear: both;
}

/* blocks that can contains floats */
.clearfix:after,
.line:after,
.mod:after, 
.gallery:after{
    content: "";
    display: table;
    clear: both;
}

/* alignments (blocks and inline) */
/* left and 1em gutter */
.left {
    float: left; margin-right: 1em
}

/* right and 1em gutter */
.right {
    float: right; margin-left: 1em
}

/* juste inline-block */
.inbl {display: inline-block;}

/* blocks widths (percentage) */
.w10 {width: 10%}
.w20 {width: 20%}
.w25 {width: 25%}
.w30 {width: 30%}
.w33 {width: 33.33%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w65 {width: 65%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}
.w100 {width: 100%}

/* blocks widths (pixel) */



/* ----------------------------- */
/* == Hidding / unhidding content */
/* ----------------------------- */

/* for image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}


/* Hide for both screenreaders and browsers 
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.assistive-text, 
.visuallyhidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
a.assistive-text:active,
a.assistive-text:focus {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #1982d1;
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    left: 7.6%;
}

/* hiding content */
.desktop-hidden {display: none;} /* hidden on desktop */

/* ----------------------------- */
/* ==  Forms */
/* ----------------------------- */

legend {border: 0; white-space: normal;}
form, fieldset { border: none;}
label{ cursor: pointer; } /* hand cursor on clickable input elements */

/* webkit browsers add a 2px margin outside the chrome of form elements */
  
button, 
input, 
select, 
textarea { 
margin: 0; 
}
/* colors for form validity 
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
*/
button, input, select {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;   }
textarea { 
    overflow: auto; 
    min-height: 5em;
    vertical-align: top;
    resize: vertical;
    font-size: 1em;
} 
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
input[type="checkbox"], input[type="radio"] {
    padding: 0;
    *width: 13px; *height: 13px; }
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}
input[type="radio"] { 
vertical-align: text-bottom; 
}
input[type="checkbox"] { 
vertical-align: bottom; 
}
.ie7 input[type="checkbox"] { 
vertical-align: baseline; 
}
.ie6 input { 
vertical-align: text-bottom; 
}
/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
    -webkit-appearance: none;
}

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* style the placeholder */

::-webkit-input-placeholder {color: #777;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #777;}

.ie6 legend, 
.ie7 legend { 
margin-left: -7px; 
} /* thnx ivannikolic! */

/* haslayout for IE6/IE7 */
.ie7 .clearfix,.ie7 .line, .ie7 .mod, .ie7 .row, .ie7 .col {
    zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
    display: inline;
    zoom: 1;
}
.ie8 img {
    width: auto; /* @bugfix for IE8 */
}

/* box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
    behavior: url(/js/boxsizing.htc);
}
*/

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
/* Forms - Class for labelling required form items */

.required {
    color: #cc0033;
}

/* ----------------------------- */
/* == Images */
/* ----------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img {
    max-width: 100%;
    height: auto; 
}
img.alignleft {
    margin-right: 1em;
}
img.alignright {
    margin-left: 1em;
}
.wp-caption {
    padding: .5em;
    text-align: center;
}
.wp-caption img {
    margin: .25em;
}
.wp-caption .wp-caption-text {
    margin: .5em;
}
.gallery-caption{
}

.gallery-item {
float: left;
margin-top: 10px;
text-align: center;
width: 33%;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

.ie7 img {-ms-interpolation-mode: bicubic;}

.ie7 .title {
    padding-top: 20px;
}

/* ----------------------------- */
/* == WordPress alignement */
/* ----------------------------- */

/* Alignment */

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
