// Global values
// --------------------------------------------------

$selectionColor:#b8dce5;//bleu clair
$mainColor:#003333; //Vert foncé
$secondColor:#009999; //Vert
$thirdColor:#006666; //Vert clair
$mainColorLighter: lighten($mainColor, 10%) !default;
$secondColorlighter: lighten($secondColor, 10%) !default;
$thirdColorlighter: lighten($secondColor, 10%) !default;
$thirdColor: lighten($thirdColor, 10%) !default;
$mainColorDarker:  darken($mainColor, 10%) !default;
$secondColorDarker:  darken($secondColor, 10%) !default;
$thirdColorDarker:  darken($thirdColor, 10%) !default;


// Grays
// -------------------------
$grayDarker:  #262626 !default;
$grayDark:  #333 !default;
$gray:#666 !default;
$grayLight: #999 !default;
$grayLighter: #ccc !default;

// Alert
// -------------------------
$error: #f0dddd !default;
$required: #cc0033 !default;

// Links
// -------------------------
$linkColor: #08c !default;
$linkColorHover:  darken($linkColor, 15%) !default;