// Global values
// --------------------------------------------------

$selectionColor:#b8dce5;//bleu clair
$mainColor:#000; //Noir
$secondColor:#bbb; //gris
$thirdColor:#666;
$mainColorLighter: lighten($mainColor, 25%) !default;
$secondColorlighter: lighten($secondColor, 25%) !default;
$thirdColor: lighten($thirdColor, 25%) !default;
$mainColorDarker:  darken($mainColor, 15%) !default;
$secondColorDarker:  darken($secondColor, 15%) !default;
$thirdColorDarker:  darken($thirdColor, 15%) !default;


// Grays
// -------------------------
$grayDark:  #484848 !default;
$grayDarker:  #3f3f3f !default;
$gray:#919191 !default;
$grayLight: #d0d0d0 !default;
$grayLighter: #ebebeb !default;

// Alert
// -------------------------
$error: #f0dddd !default;
$required: #cc0033 !default;

// Links
// -------------------------
$linkColor: #08c !default;
$linkColorHover:  darken($linkColor, 15%) !default;