@import url('styles.css');

/*  The css for the login page ! */
html{ background-color: transparent; }

.login #login_error{ 
    //if login error information removed for security with wordpress_cleanup.php
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
}

.login h1 a {
	background: {
	  image: url("../img/logo_company.png");
	  repeat: no-repeat;
	  position: top center;
	}
	background-size : contain;
	width:100%; 
	height:50px; 
	margin: 20px auto;
}
body.login { 
	background:url("../img/bg_maintenance.png") repeat;
}

/* Barre du haut - Lien */
.login p#backtoblog a:link,.login p#backtoblog a:visited { color:#6c7880; }

/* Barre du haut - Effet de survol*/
.login p#backtoblog a:hover,.login p#backtoblog a:active { color:#6c7880; text-decoration:underline; }

/* Modification de bouton "Se connecter" et des autres liens*/
#login form .submit input { 
	border-color:#bccad3!important; 
	color:#FFF!important; 
	font-weight:bold; 
	background-color: #0BA1D7;
	border-radius : 3px;
}
#login form .submit input:hover { 
	color:#FFFFFF!important; 
}
.login #nav a { color:#7c8991!important; }
.login #nav a:hover { color:#6f7a81!important; }
