@import "compass/css3";

/*  The css for the login page ! */
html{ background-color: transparent; }

.login #login_error{ 
    //if login error information removed for security with wordpress_cleanup.php
    padding: 0;
    margin: 0;
    background: none;
    @include box-shadow(0);
}

.login h1 a {
	background: {
	  image: image-url("logo_company.png");
	  repeat: no-repeat;
	  position: top left;
	}
	@include background-size(cover);
	width:270px; 
	height:50px; 
	margin: 20px auto;
}
body.login { 
	background:image-url("bg_maintenance.png") repeat;
}

/* Barre du haut - Lien */
.login p#backtoblog a:link,.login p#backtoblog a:visited { color:#6c7880; }

/* Barre du haut - Effet de survol*/
.login p#backtoblog a:hover,.login p#backtoblog a:active { color:#6c7880; text-decoration:underline; }

/* Modification de la taille du bloc "Connexion" */
#login { 
width:400px; 
margin:0em auto; 
}

/* Modification de bouton "Se connecter" et des autres liens*/
#login form .submit input { 
	border-color:#bccad3!important; 
	color:#FFF!important; 
	font-weight:bold; 
	background-color: #0BA1D7;
	@include border-radius(3px);
	@include text-shadow(rgba(0, 0, 0, 0.2) 0 1px 0);
	@include background-image(linear-gradient(left top, #0BA1D7, #7DCBE8));  
}
#login form .submit input:hover { 
	@include background-image(linear-gradient(left top, #7DCBE8, #0BA1D7));  
	color:#FFFFFF!important; 
}
.login #nav a { color:#7c8991!important; }
.login #nav a:hover { color:#6f7a81!important; }
