@import "compass";

.postbox{
	background-color: #F1F1F1;
	@include box-shadow(0 1px 4px #ddd, inset 0 1px 0 #fff);
	@include border-radius(3px);
	border: 1px solid #DFDFDF;
}

#poststuff h3, .metabox-holder h3, .widefat th {
	font-size: 15px;
	font-family: Helvetica, Arial;
	font-weight: normal;
	line-height: 1;
}

.wrap .add-new-h2 {
	border: 1px solid #AAA; 
	text-decoration: none; 
	text-align: center;
	font: 13px Helvetica, verdana, arial, sans-serif;
	white-space: nowrap; 
	cursor: pointer;
	outline: none;
	color: #444; 
	background-color: #e5e5e5; 
	@include transition-duration(.3s);
	@include transition-timing-function(ease-in-out);
	@include box-shadow( #ddd 0 1px 4px, #fff 0 1px 0 inset);
	@include border-radius(3px);
	@include text-shadow(rgba(255,255,255, 0.2) 0 1px 2px);
	@include background-image(linear-gradient(left top, #e5e5e5, #f4f4f4));  
}

.wrap .add-new-h2:hover {
	border: 1px #aaa solid;
	color: #444!important;
	background-color: #e0e0e0;
	@include transition-duration(200ms);
	@include box-shadow( #aaa 0 1px 4px, #fff 0 1px 0 inset);
	@include background-image(linear-gradient(left top, #e0e0e0, #e8e8e8));  
}

.wrap .add-new-h2:focus, .wrap .add-new-h2:active { 
	background-color: #ededed;
	@include box-shadow( #aaa 0 0 0, #d9d9d9 0 5px 10px inset); 
	@include background-image(linear-gradient(left top, #ededed, #ededed)); 
}

.button:active, .submit input:focus, .button, .submit input:active { 
	border: 1px solid #AAA;
	text-decoration: none;
	text-align: center;
	font: 13px Helvetica, verdana, arial, sans-serif;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	color: #444;
	background-color: #e5e5e5;
	@include transition-duration(.3s);
	@include transition-timing-function(ease-in-out);
	@include box-shadow( #ddd 0 1px 4px, #fff 0 1px 0 inset);
	@include border-radius(3px);
	@include text-shadow(#fff 0 1px 2px);
	@include background-image(linear-gradient(left top, #e5e5e5, #f4f4f4));  
}

input.button-primary, button.button-primary, a.button-primary {
	border: 1px #82aa74 solid;
	color: white!important;
	background-color:#82aa74;
	@include border-radius(3px);
	@include box-shadow( #aaa 0 1px 4px, #b0ea9d 0 1px 0 inset);	
	@include transition-duration(200ms);
	@include background-image(linear-gradient(left top, #8fba80 0%, #82aa74 50%, #99cd87 51%, #8fba80 100%)); 
	@include text-shadow(#aaa 0 -1px 1px);
}

input.button-primary:focus, button.button-primary:focus, a.button-primary:focus, input.button-primary:active, button.button-primary:active, a.button-primary:active {
	background-color: #82aa74;
	@include background-image(linear-gradient(left top, #9ed48c, #9ed48c));
	@include border-radius(3px);
	@include box-shadow( #aaa 0 0 0, #82aa74 0 5px 10px inset);
}

input.button-primary:hover, button.button-primary:hover, a.button-primary:hover {
	color:#444!important;
	background: #e5e5e5; 
	@include text-shadow(#fff 0 1px 2px);
	@include background-image(linear-gradient(left top, #e5e5e5, #f4f4f4));
	@include transition-duration(.3s);
	@include transition-timing-function(ease-in-out);
	@include box-shadow( #ddd 0 1px 4px, #fff 0 1px 0 inset);
	@include border-radius(3px);

}

.blavatar { display:none; }

#wp-admin-bar-my-blogs ul .menupop >  a {
	position:relative;
	padding-left:30px;
}
#wp-admin-bar-my-blogs .menupop >  a:before{
	content: ' ' ;
	display:block;
	position:absolute;
	left:5px;
	top:3px;
	width:20px;
	height:20px;
	background:url('images/langues.png')  no-repeat;
}
#wp-admin-bar-my-blogs #wp-admin-bar-blog-1 >  a:before{ background-position: -41px 5px ; }
#wp-admin-bar-my-blogs #wp-admin-bar-blog-6>  a:before{ background-position: -20px -13px ; }
#wp-admin-bar-my-blogs #wp-admin-bar-blog-5 >  a:before{ background-position: 2px -28px ; }

/**adminbar ho yeah **/

/*
body #wpadminbar .quicklinks > ul {
margin-left:30px;
}
body #wpadminbar #wp-admin-bar-my-account:before,
body #wpadminbar #wp-admin-bar-my-account-with-avatar:before{
content:" ";
position:absolute;
left:-25px;
width:25px;
height:25px;
}
*/
