/*!
* www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter
* Licence WTFPL http://www.wtfpl.net/
*/

/* ----------------------------- */
/* ==Table Of Content            */
/* ----------------------------- */

/* 1- Normalize (basic reset) */
/* 2- Base (basic styles) */
/* 3- Print (print quick reset) */
/* 4- Stylings (minor stylings) */
/* 5- Misc (skip links, hyphens) */
/* 6- Tables (data tables consistency) */
/* 7- Forms (forms consistency) */
/* 8- Media object */
/* 9- Autogrid object */
/* 10- Global Layout (alignment, modules, positionning) */
/* 11- Helpers (width and spacers helpers) */
/* 12- WordPress reset  */
/* 13- Responsive (Responsive Web Design helpers) */
/* 14- Grid Layout (grillade) */

/* ---------------------------------- */
/* ==Normalize (basic reset)          */
/* ---------------------------------- */

@import "_vendor/_normalize.scss"; // normalize (basic reset)

@import "_variables.scss";

@import "_config/_breakpoints.scss";
@import "_config/_mixins.scss";

// Libraries
@import "library/_base.scss"; // basic styles
@import "library/_print.scss"; // print quick reset
@import "library/_styling.scss"; // minor stylings
@import "library/_misc.scss"; // skip links, hyphens
@import "library/_tables.scss"; // data tables consistency
@import "library/_forms.scss"; // forms consistency

// Objects
@import "objects/_media.scss"; // media object
@import "objects/_autogrid.scss"; // media autogrid

// Utilities
@import "utilities/_layout.scss"; // alignment, modules, positionning
@import "utilities/_helpers.scss"; // width and spacers helpers
@import "utilities/_wordpress.scss"; // WordPress reset and basic styles
@import "utilities/_responsive.scss"; // Responsive Web Design helpers

// Grids
@import "grids/_grillade.scss"; // grids


/* ----------------------------- */
/* ==Own stylesheet              */
/* ----------------------------- */

/*-- A supprimer si option réseaux sociaux non utilisé --*/
.social{
    clear:both;
    padding: 0;
    li{
        display: inline-block;
        vertical-align: top;
        font-size: 2rem;
    }
    a{ color:$color1; }
    a:hover{ color:$color2 }
}
/* END option réseaux sociaux */

/* General */
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;    
    position: relative;
}

/* Navigation */
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 1.5em;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        float: left;
        position: relative;

        &:hover > a,
        &.focus > a {
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

/* Contenu */
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
.widget {
    margin: 0 0 1.5em;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
}
