@import "compass/css3";
 
.icon {
  @include inline-block();
}
/**
 * 1. Future proof; prevent screen-reader from reading it
 * 2. Triggers hardware acceleration / Antialiasing chrome windows
 */
.icon:before,
.icon.after:after {
  content: "";
  @include inline-block(middle);
  position: relative;
  top: -.1em;
  margin: 0 .3em 0 0;
  font: 1.4em/1 sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,.1);
  speak: none; /* 1 */

  @include mq(medium) {
    font: 1em/0.6 sans-serif;
    -webkit-transform: rotateZ(.05deg); /* 2 */
  }
}

.icon.after:after {
  margin: 0 0 0 8px;
}

.icon.after:before {
  content: "" !important;
}
/*----------------------------*\
 * Icons police - Fontello    *
\*----------------------------*/
/*
 * Faire la police propre au projet ici http://fontello.com/
 * Remplacer/ajouter la nouvelle police
 * Font à mettre dans dossier css/fonts
 */
 @include font-face("Presstige", font-files("presstige.ttf", "presstige.woff", "presstige.eot", "presstige.svg"));

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "presstige";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-star-half:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-mail-alt:before { content: '\62'; } /* 'b' */
.icon-phone:before { content: '\e810'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-angle-up:before { content: '\e80d'; } /* '' */
.icon-angle-down:before { content: '\e80a'; } /* '' */
.icon-angle-double-right:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-gplus:before { content: '\e815'; } /* '' */
.icon-instagram:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-pinterest:before { content: '\e813'; } /* '' */
.icon-chat-empty:before { content: '\e80c'; } /* '' */

/*----------------------------*\
 * Icons unicode              *
\*----------------------------*/
.icon-rate:before,
.icon-rate.after:after {
  content: "\2605";
}

.icon-unrate:before,
.icon-unrate.after:after{
  content: "\2606";
}

.icon-check:before,
.icon-check.after:after{
  content: "\2713";
}

.icon-uncheck:before,
.icon-uncheck.after:after{
  content: "\2717";
}

.icon-cloud:before,
.icon-cloud.after:after {
  content: "\2601";
}

.icon-dl:before,
.icon-dl.after:after {
  content: "\21E3";
  font-weight: bold;
}

.icon-cross:before,
.icon-cross.after:after {
  content: "\2716";
  font-weight: bold;
}

.icon-arrow1:before,
.icon-arrow1.after:after {
  content: "\2192";
  position: relative;
  top: -0.15em;
}

.icon-arrow2:before,
.icon-arrow2.after:after {
  content: "\279E";
}

.icon-arrow3:before,
.icon-arrow3.after:after {
  content: "\279A";
}

.icon-bracket1:before,
.icon-bracket1.after:after {
  content: "\2039";
  font-weight: bold;
  font-size: 1.6em;
  position: relative;
  top: -0.15em;
}

.icon-bracket2:before,
.icon-bracket2.after:after {
  content: "\203A";
  font-weight: bold;
  font-size: 1.6em;
  position: relative;
  top: -0.15em;
}

.icon-up:before,
.icon-up.after:after {
  content: "\25B2";
}

.icon-down:before,
.icon-down.after:after {
  content: "\25BC";
}

.icon-bull:before,
.icon-bull.after:after {
  content: "\2022";
  font-size: 1.2em;
  top: -0.05em;
}

.icon-bull2:before,
.icon-bull2.after:after {
  content: "\25E6";
  top: -0.05em;
}

.icon-bull3:before,
.icon-bull3.after:after{
  content: "\2023";
  font-size: 1.6em;
  top: -0.05em;
}

.icon-nav:before,
.icon-nav.after:after {
  content: "\2261";
  font-weight: bold;
}

.icon-losange:before,
.icon-losange.after:after {
  content: "\25C6";
}

.icon-asteri:before,
.icon-asteri.after:after {
  content: "\2731";
  font-weight: bold;
}

.icon-mail:before,
.icon-mail.after:after {
  content: "\2709";
  font-size: 1.6em;
  top: -.05em;
}